.header-portada{
    height: 100vh;
    background-image: url("/src/img/bosc.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content-inici{
    text-align: center;
    background-color: $color-fons;
    color: $color-text;
    padding: $padding-gran $padding-normal;
    width: $amplada-escriptori;
    display: flex;
    flex-direction: column;
    gap:48px
}

.content-categories{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
}

.categoria{
    width:300px;
    height: 300px;
    border-radius: 175px;
    border-style: solid 1px $color-principal;
    box-shadow: 7px 9px 20px #00000054;
    text-align: center;
    overflow: hidden;

    //padding: $padding-gran;
    
    img{
        filter: brightness(0.6);
        position:relative;
        object-fit:fill;
        height: 100%;
    }
    h3{
        position: relative;
        top: -180px;
        color: $color-text-clar;
        font-size: $font-mida-mitjana;
        font-family: $font-principal;
        text-shadow: 4px 4px #00000054;
    }

    :hover{
        filter:sepia(0) brightness(1);
        transition-duration: 1s;
    }
}

.fons-fosc-transparent{
    background-color: #00000073;
}