.header-general{
    height: 320px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("/src/img/boscH.jpg");
        background-image: image-set(
        url("/src/img/boscH406px.jpg") 1x,
        url("/src/img/boscH812x2px.jpg") 2x,
        url("/src/img/boscH1218x3px.jpg") 3x,
    );
    @media (min-width: 407px) {
    background-image: image-set(
        url("/src/img/boscH812px.jpg") 1x,
        url("/src/img/boscH1624x2px.jpg") 2x,
        url("/src/img/boscH3248px.jpg") 3x,
    );                
    }
    @media (min-width: 813px) {
    background-image: image-set(
        url("/src/img/boscH1218px.jpg") 1x,
        url("/src/img/boscH2436px.jpg") 2x,
        url("/src/img/boscH3654px.jpg") 3x,
    );                
    }
    @media (min-width: 1219px) {
    background-image: image-set(
        url("/src/img/boscH1624px.jpg") 1x,
        url("/src/img/boscH3248px.jpg") 2x,
        url("/src/img/boscH3654px.jpg") 3x,
    );                
    }
    @media (min-width: 1625px) {
    background-image: image-set(
        url("/src/img/boscH2436px.jpg") 1x,
        url("/src/img/boscH3654px.jpg") 2x,
    );                
    }
}

.content-general{
    text-align: center;
    padding: $padding-gran $padding-normal;
    display: flex;
    flex-direction: column;
    gap:48px;
}

.content-articles{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    align-items: stretch;
}


.article-resum{
    position: relative;
    width:300px;
    border: solid 1px;
    padding: $padding-normal;
    overflow: hidden;
    background-color: $color-fons;
    border-radius: 12px;
    color: $color-text;
    height: 600px;
    h3{
        text-align: center;
    }
    img{
        height: 180px;
        object-fit: cover; 
        object-position: center;
    }
    @media (width < $amplada-escriptori) {
      width: 100%;
    }

    @media (width < $mida-mobil) {
      padding: $padding-normal $padding-petit;
    }

}

.veure-mes{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    text-align: center;
    font-size: $font-mida-petita;
    padding: $padding-normal;
    color: $color-principal;
}

.carrousel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    @media(max-width: 900px){
        flex-direction: column;
        align-items: center;
    }
    figure{
        padding:0;
        width:30%;
        img{
            margin: 0;
            width:100%;

        }
    }
}

.content-video{
    text-align: center;
    padding: $padding-gran;
    background-color: $color-principal;
    width: $amplada-escriptori;
    color:$color-text-clar;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;

    @media (max-width: 960px) {
        width:100%;
    }

    iframe{
        width:560px;
        height:315px;
        max-width: 100%;
    }
}

.content-links{
    text-align: left;

    a{
        color: $color-principal;
    }
}



