@font-face {
  font-family: 'National Park';
  src: url('../fonts/NationalPark-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-display: swap; 
}

@font-face {
  font-family: 'Coiny';
  src: url('../fonts/Coiny-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sigmar';
  src: url('../fonts/Sigmar-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

/*COLORS*/
$color-principal: #78a19d;
$color-secundari: #412200;
$color-text: #1b1400;
$color-text-destacat: #5a0011;
$color-text-clar: #fffef4;
$color-fons-principal: #d4dfde;
$color-fons: #fffdf8;

/*FONTS*/
$font-mida-petita: 16px; 
$font-mida-normal: 20px;
$font-mida-mitjana: 30px;
$font-mida-gran: 48px;
$font-mida-gegant: 72px;

$font-pes-fina: 200;
$font-pes-normal: 400;
$font-pes-grossa: 800;

$alcada-normal: 1.5;
$alcada-gran: 2;  
$alcada-apretada: 1.25;

$font-principal: "National Park", sans-serif;
$font-secundaria: "Montserrat", sans-serif;
$font-titols: "Coiny", system-ui;
$font-logo: "Sigmar", sans-serif;

/*MIDES*/

$mida-mobil: 496px;
$mida-tablet: 800px;
$amplada-escriptori: 960px;

$padding-petit: 12px;
$padding-normal: 24px;
$padding-gran: 64px;
$padding-extra: 96px;
